.footer {
    background: -webkit-linear-gradient(90deg, #39cfca 0%, #3279bb 100%);
    background: -moz-linear-gradient(90deg, #39cfca 0%, #3279bb 100%);
    background: -o-linear-gradient(90deg, #39cfca 0%, #3279bb 100%);
    background: -ms-linear-gradient(90deg, #39cfca 0%, #3279bb 100%);
    background: linear-gradient(90deg, #39cfca 0%, #3279bb 100%); 
    height: 50%;    
    padding: 20px 0px;
}

.footer h3{
    text-align: center;
}

.round-border {
    border-radius: 90%; 
}

footer ul{
  margin-left: -50px;
}
footer ul li {
    display: inline-block;
    margin-top: 13px;
    margin-left: 20px;
}
footer ul li a {
  width: 45px;
  line-height: 45px;
  font-size: 18px;
  margin: 0 7px;
  border:1px solid transparent;
}
footer ul li:nth-child(1) a {
  color: #677fb5;
  border-color:#677fb5;
}
footer ul li:nth-child(2) a {
  color: #70c2e9;
  border-color:#70c2e9;
}
footer ul li:nth-child(3) a {
  color: #d8545d;
  border-color:#d8545d;
}

footer ul li:nth-child(1) a:hover {
  background: #677fb5;
}
footer ul li:nth-child(2) a:hover {
  background: #70c2e9;
}
footer ul li:nth-child(3) a:hover {
  background: #d8545d;
}

footer ul li a:hover {
  color:#fff !important;
}
footer p {
  color:#fff;
  font-size: 15px;
  margin-top: 10px;
}